# **Project 2 : Heart Disease Prediction**

# **Importing libraries**

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

# **Data preprocessing**

In [ ]:
heart = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/ml collections/HeartDisease.csv')
heart

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [ ]:
heart.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [ ]:
heart['target'].value_counts()

1    526
0    499
Name: target, dtype: int64

# **Defining x and y**

In [ ]:
x = heart.drop(columns='target',axis=1)
y = heart['target']
print(x)

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal
0         2   2     3
1         0   0     3
2         0   0     3
3         2   1     3
4         1   3     2
...     ...  ..   ...
1020      2   0     2
1021      1   1     3
1022      1   1     2
1023      2   0     2
1024      1   1     3

[1025 rows x 13 columns]

# **Splitting data into train and test**

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, stratify=y, random_state=2529)

## **Model building and training**

In [ ]:
model = LogisticRegression()

In [ ]:
model.fit(x_train, y_train)

#  Model Evaluation

# *Training data accuracy*

In [ ]:
x_train_pred = model.predict(x_train)
training_accuracy = accuracy_score(x_train_pred, y_train)
print('Trining data accoracy : ',training_accuracy)

Trining data accoracy :  0.8670731707317073

# *Testing data accuracy*

In [ ]:
x_test_pred = model.predict(x_test)
testing_accuracy = accuracy_score(x_test_pred, y_test)
print('Testing data accuracy : ',testing_accuracy)

Testing data accuracy :  0.824390243902439

# **Building a predictive system**

In [ ]:
input = (41,0,1,130,204,0,0,172,0,1.4,2,0,2)

In [ ]:
input_array = np.asarray(input)

In [ ]:
input_reshape = input_array.reshape(1,-1)

In [ ]:
pred = model.predict(input_reshape)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

In [ ]:
pred

array([1])